@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: "Poppins";
}